/*!
 * Perth
 * PSD Created by Peter Finlan http://dribbble.com/peterfinlan
 *
 * Coding by Theme Armada
 * Visit us for more Bootstrap themes at: http://www.themearmada.com
 * Handcrafted with love in Atlanta!
 */

/* ==========================================================================
   Global styles
   ========================================================================== */
   @import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);
   @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
   
  
   
   /*/ start count stats /*/
   
   section#counter-stats {
     display: flex;
     justify-content: center;
    margin-bottom: 70px;
   }
   
   .stats {
     text-align: center;
     font-size: 35px;
     font-weight: 700;
     font-family: 'Montserrat', sans-serif;
   }
   
   .stats .fa {
     color: #142850;
     font-size: 60px;
   } 
   
   /*/ end count stats /*/


h1 {
  font-family: 'Dr Sugiyama', cursive;
}

h2, h3, p, .navbar-nav {
  font-family: 'Lato', sans-serif;
} 



h1 {
  font-size: 62px;
  color: #ffffff;
}


h2 {
  font-size: 42px;
  font-weight: 300;
  color: #545454;
}

h3 {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
}

p {
  color: #7e7e7e;
  font-size: 16px;
}


/*-------------------Margins----------------*/
.margin-0 {
    margin-bottom: 0 !important;
}
.margin-10 {
    margin-bottom: 10px !important;
}
.margin-15 {
    margin-bottom: 15px !important;
}
.margin-20 {
    margin-bottom: 20px !important;
}
.margin-30 {
    margin-bottom: 30px !important;
}
.margin-40 {
    margin-bottom: 40px !important;
}
.margin-50 {
    margin-bottom: 50px !important;
}
.margin-60 {
    margin-bottom: 60px !important;
}
.margin-70 {
    margin-bottom: 70px !important;
}
.margin-80 {
    margin-bottom: 80px !important;
}
.margin-90 {
    margin-bottom: 90px !important;
}
.margin-100 {
    margin-bottom: 100px !important;
}



/*-------------------Buttons----------------*/
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-lg {
    border-radius: 2px;
    font-size: 18px;
    line-height: 1.33;
    padding: 14px 22px;
}

.btn-primary {
    background-color: transparent;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #ffffff;
    border-color: #FFFFFF;
    color: #545454;
    
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.btn-secondary {
    background-color: transparent;
    border-color: #4eacdd;
    color: #4eacdd;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary {
    background-color: #4eacdd;
    border-color: #4eacdd;
    color: #ffffff;
    
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}


/*-------------------Colors----------------*/
.dark-gray {
  color: #545454;
}

.light-gray {
  color: #f4f4f4;
}

.white {
  color: #ffffff;
}

.green {
  color: #13c4af;
}

.blue {
  color: #4eacdd;
}



/* ==========================================================================
   Navigation styles
   ========================================================================== */
.navbar-inverse {
    background-color: #4eabde;
    border-color: rgba(0, 0, 0, 0);
}

.navbar-brand {
    padding: 0px;
}

.navbar {

  font-size: 17px;
  margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 20px;
    font-family: oswald;
    letter-spacing: 5px;
}

.navbar-inverse .navbar-toggle {
    border-color: rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: rgba(0, 0, 0, 0);
    border: 0px;
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0.0) inset;
}







/* ==========================================================================
   Main styles
   ========================================================================== */
#header {
  background: #4eacdd;
  height: 650px;
  overflow: hidden;
}


.header-text {
  padding-top: 175px;
} 
   
.header-img {
  margin-top: -160px;
}   
   
#main1 {
  background: #f4f4f4;
  padding-top: 160px;
  min-height: 650px;
  overflow: hidden;
  height: auto;
}

.main1-img {
  position: absolute;
  right: 0;
  padding-top: 50px;
}


blockquote {
    border-left: 8px solid #4eacdd;
    font-size: 16.5px;
    color: #7e7e7e;
    font-style: italic;
    margin: 0 0 20px;
    padding: 0px 20px;
}

#main2 {
  background: #ffffff;
  padding-top: 140px;
  height: 650px;
  overflow: hidden;
}

.main2-img {
    left: 0;
    margin-left: -300px;
    margin-top: 160px;
    position: absolute;
}

#message {
  padding: 100px 0px;
  background: #13c4af;
}

#bottom {
  padding: 100px 0px;
  background: #f4f4f4;
  overflow-y: hidden;
}

.social li a {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 2px solid #545454;
  background: transparent;
  color: #545454;
  padding: 14px 16px;
  display: block;
}

.social li a:hover {
  border: 2px solid #aeaeae;
  background: transparent;
  color: #aeaeae;
  
  -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.social li {
  margin-left: 15px;
  margin-right: 15px;
}

.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 0 solid #CCCCCC;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 55px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

footer {
  background: #ffffff;
  padding: 40px 0px;
}



/* ==========================================================================
   Mobile styles
   ========================================================================== */   
/* Landscape phones and down */
@media (max-width: 480px) { 



#main1 {
   padding-bottom: 170px;
}

.navbar-nav {
  text-align: right;
}


	
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) { 



#main1 {
   padding-bottom: 170px;
}

.navbar-nav {
  text-align: right;
}



}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

.main2-img {
    margin-left: -550px;
   
}


}



/* Desktops and laptops */
@media (min-width: 992px) and (max-width: 1199px) {



}
     


/* Large screens */
@media (min-width: 1200px) and (max-width: 3000px) {

}   

@media (max-width:800px){
  .mi{
    box-sizing:border-box;
  /*width of the image*/
  background: url(/img/portfolio/3m.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  }
 
 .m {
    display:none;
 }
 
 
 
  .main1-img{
 position: static;
  }
  .main2-img {
 position: static;

  }
  .header-img2{
    margin-top: unset !important;
  }

  #header{
    height: 100%;
  }


  #main1{
    padding: 40px 10px;
  }

  .main1-img{
    padding: 5px 10px;
  }

  #main2{
    padding: 40px 10px;
  }

  #main2{
    height: auto;
  }

  .main2-img{
    padding: 5px 10px;
    margin: 0px;
  }


  .header-text{
    padding:40px;
  }

  .header-img {
    margin-top: unset;
  }   

  .header-img {
    position: static;
    margin-left: -120px;
    left:0;
    display: none;
  }
.margin-100{
  margin-bottom:40px !important;
}

#bottom {
  padding: 100px 0px;
  background: #f4f4f4;
  overflow: hidden;
}
.c-icons{
margin: 2px !important;

}

.hod{
  display: block !important;
}

.hom {
  display: none !important;
}


.main-site-head{
  height: 100% !important;
}

}


.hod{
  display: none;
}

.points{
  padding-left: 13px;
  margin-top: 15px;
}


.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

body {
  background-color: #000;
}

.ag-container-shops {
  padding: 60px 0;

  overflow: hidden;
}
.ag-card-bg {
  height: 100%;
  width: 200%;
  background-position: 50%;
  background-size: cover;
  
  position: absolute;
  top: 0;
  left: -50%;
  
  -webkit-transition: height .6s;
  -moz-transition: height .6s;
  -o-transition: height .6s;
  transition: height .6s;
}
.ag-shop-card_box-wrap {
  padding: 15px;
}
.ag-shop-card_box {
  background-color: #FFF;
  
  overflow: hidden;
  
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 35, .25);
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 35, .25);
  -o-box-shadow: 0 10px 20px 0 rgba(0, 0, 35, .25);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 35, .25);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.ag-shop-card_body {
  display: block;
  height: 250px;
  width: 300px;
  background-position: 50%;
  background-size: cover;
  
  overflow: hidden;

  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  
  position: relative;
}
.ag-shop-card-body_link {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  
  overflow: hidden;

  z-index: 9;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .35);
  -o-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .35);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .35);
  
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  
  -webkit-transition: top .4s;
  -moz-transition: top .4s;
  -o-transition: top .4s;
  transition: top .4s;
}
.ag-shop-card-body_img {
  max-width: 100%;
}
.ag-shop-card_footer {
  padding: 15px 30px;
  border: 0;
  background-color: #FFF;

  position: relative;
}
.ag-shop-card-footer_title {
  display: block;
  line-height: 1.3;

  font-weight: 700;
  font-size: 14px;
  color: #690911;
}
.ag-shop-card-footer_products {
  display: block;
  line-height: 1.3;

  font-size: 12px;
}
.ag-shop-card-footer_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: #ff7b1a;

  position: absolute;
  right: 30px;
  top: 15px;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ag-shop-card-footer_arrow {
  max-width: 16px;
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}



:root {
  --dark-green: #9cc675;
  --dark-yellow: #e89a3d;
  --extra-light-brown:#fdf0d7;
  --light-brown: #ecd5ab;
  --dark-brown:#915b40;
  --light-yellow:#f8e3a8;
  --light-red:#f3ac99;
  --light-teal:#a6c8cc;
  --light-gray:#ddd5d6;
  --theme-color2: #e89a3d;
}


.site-logo {
width: 218.33px !important;
margin-right: 50px;
}
.btn {
border-radius: 5px;
font-weight: normal;
font-size: 15px;
letter-spacing: 0.02em;
line-height: 12px;
text-align: center;
font-weight: 600;
font-size: 14px;
padding: 14px 30px;
cursor: pointer;
}
.btn-theme {
background: var(--theme-color1);
color: #212121;
}

.c-container {
margin: auto;
width: 93%;
position: relative;
z-index: 1;
}

.btn-outline-white {
color: #fff;
background-color: rgba(255, 255, 255, 0.1);
background-image: none;
border-width: 2px;
border-color: #fff;
font-weight: 500;
-webkit-transition: all .2s;
transition: all .2s;
}
.btn {
border-radius: 5px;
font-weight: normal;
font-size: 15px;
letter-spacing: 0.02em;
line-height: 12px;
text-align: center;
font-weight: 600;
font-size: 14px;
padding: 14px 30px;
cursor: pointer;
}
.btn-outline-white:hover {
background-color: #fff;
color: var(--text-dark);
}
/* common css up */

.testimonial p {
font-size: 28px;
letter-spacing: 0.02em;
line-height: 35px;
}
.testimonial .name {
font-weight: bold;
font-size: 18px;
letter-spacing: 0.04em;
line-height: 35px;
text-align: left;
}
.testimonial .designation {
font-size: 20px;
letter-spacing: 0.04em;
text-align: left;
color: #fff;
opacity: 0.95;
}
.unt {
margin-bottom: 20px;
margin-top: 60px;
}
.hero-text {
font-size: 30px;
letter-spacing: 0.02em;
color: #fff;
}
.gallery-thumbs {
height: 100%;
}
.gallery-thumbs .swiper-wrapper {
align-items: center;
}
.gallery-thumbs .swiper-slide {
background-position: center;
background-size: cover;
width: 250px !important;
height: 330px;
position: relative;
}
.gallery-thumbs .swiper-slide img {
filter: contrast(0.5) blur(1px);
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 10px;
}
.gallery-thumbs .swiper-slide-active img {
filter: contrast(1) blur(0px) !important;
}
.flex-row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}
.flex-row .flex-col {
-ms-flex-preferred-size: 0;
flex-basis: 0;
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
max-width: 100%;
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.gallery-thumbs .swiper-wrapper {
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}

.quote p{
color: #000;
font-weight:800 ;
}

.testimonial-section .quote {
width: 75%;
height: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
padding-left: 100px;
padding-right: 100px;
}

@media(max-width:700px){
  .testimonial-section .quote {
    margin: auto;
    padding-left: 10px !important;
    padding-right: 0px !important;
  
  }

  .quote-icon{
    margin-bottom: 10px !important;
  }
  .testi-user-img {
    display: none !important;
  }
.testimonial-section .user-saying {
width: 100% !important;
}


.swiper-container.testimonial {
  height: 70vh !important;
  }
  .testimonial-section .quote p {
   font-size: 13px !important;
  }

}

.swiper-container.testimonial {
height: 100vh;
}
.testimonial-section .user-saying {
background: var(--theme-color2);
width: 60%;
color: #fff;
height: 100%;
}
.testi-user-img {
width: 40%;
}
.testimonial-section {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
width: 100%;
height: 100%;
}
.testimonial-section .quote p {
font-size: 20px;
font-weight: 300;
line-height: 1.8;
font-style: italic;
margin: 0;
}
.quote-icon {
width: 38px;
display: block;
margin-bottom: 30px;
}